@font-face {
    font-family: 'Digitalix';
    src: 
        local("Digitalix"),
        url(../assets/fonts/digitalix.ttf) format("truetype");
}

@font-face {
    font-family: 'Poppins';
    src: 
        local("Poppins"),
        url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Poppins';
    src: 
        local("Poppins"),
        url(../assets/fonts/Poppins-SemiBoldItalic.ttf) format("truetype");
}

html {
    font-size: clamp(14px, 1.1vw, 32px);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    margin: 0;
    padding: 20px
}

.panel-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #ed254e;
    border-radius: 20px;
    border: 4px solid #ed254e;
    background-color: #62dff5c5;
    padding: 24px;
    height: 97vh;
    width: 20vw;
}

.module {
    margin-bottom: 32px;
    font-family: 'Poppins';
    text-shadow: 1px 1px 2px black;
}

.module__title {
    font-family: 'Digitalix';
    font-size: 1.4rem;
    color: #ed254e;
    text-shadow: 2px 2px 0px #721125;
}

.module__value {
    font-size: 1.75rem;
    font-weight: 600;
    font-style: italic;
}

.module--bosses-list {
    margin-top: auto;
    margin-bottom: 0;
}

.boss-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1.5rem;
}

.boss-tile {
    aspect-ratio: 1/1;
    background-color: #07414bc5;
}